.inputContainer {
  max-height: 200px;
  background-color: cadetblue;
  margin: 20px;
  padding: 10px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MyInputBox {
    background-color: #17a1fd;
    box-shadow: 0 4px 8px rgba(0, 101, 119, 0.1);
    border-radius: 10px;
    width: 200px; 
    height: 40px; 
    font-size: 30px; 
    border: 4px solid rgb(21, 0, 36); 
    border-radius: 5px; 
  }

  .MyInputBox:focus {
    outline: 2px solid #76057a;
  }